<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container py-4">

    <div class="card bg-light">
        <div class="card-header">Bienvenido</div>
        <div class="card-body">
            <h5 class="card-title">
                Seleccione la opción que desea en el menú
            </h5>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>